---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Simple Homepage - Alarado">
  <main>
    <section>
      <h5>😎 Simple way to communicate</h5>
      <h1>Actions for Accessibility in Design</h1>
      <p>
        The fastest way to build and deploy websites with reusable components.
      </p>
      <div>
        <button class="btn-start">GET STARTED</button>
        <button class="btn-demo">Get live demo</button>
      </div>
      <ul>
        <li>No credit card required</li>
        <li>No software to install</li>
      </ul>
    </section>
    <section>
      <img src="/hero-image-simple-homepage.png" alt="image" />
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  section {
    width: 50%;
  }
  img {
    max-width: 100%;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    max-width: 400px;
    font-size: 0.875rem;

  }
  li::before {
    content: "";
    background-image: url("/Done_ring_round_fill.svg");
    padding-right: 1.75rem;
  }
  h1 {
    font-size: 3.75rem;
    margin-top: 0;
  }
  h5 {
    font-size: 0.875rem;
  }
  p {
    font-size: 1.125rem;
  }
  div {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
  }
  button {
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
  }
  .btn-start {
    background-color: #2a4dd0;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
  }
  .btn-demo {
    background: none;
    border: none;
    color: var(--btn-color);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.125rem;
  }
  @media (max-width:850px) {
    main {
      flex-direction: column-reverse;
    }
    section {
      width: 100%;
    }
  }
</style>
