---

---

<button id="themeToggle">
  <img class="moon-icon" src="/Moon_fill_light.svg" alt="moon" />
  <img class="sun-icon" src="/Sun_fill.svg" alt="sun" />
</button>

<style>
  #themeToggle {
    background-color: #223344;
    border-radius: 1.5rem;
    border: 2px solid #223344;
    width: 68px;
  }
  .sun-icon {
    background-color: var(--btn-bg-main);
    border-radius: 50%;
  }
  .moon-icon {
    background-color: var(--btn-bg-secondary);
    border-radius: 50%;
  }
</style>
